<section class="w3l-stats">
    <div class="main-w3 ">
        <div class="container">
            <div class="right-side">
                <h3 class="title-big">consectetur adipisicing elit. Odio molestiae explicabo nostrum recus andae.</h3>
                <p class="mt-4 para">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, soluta impedit.
                    Consequatur,
                    quasi mollitia? Adipisci exercitationem amet dolore expedita repudiandae voluptatem impedit ipsa
                    vero
                    repellendus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio molestiae ex aut
                    possimus atque explicabo nostrum recusandae ab quisquam at!
                </p>
            </div>
        </div>
    </div>
</section>
