<section class="w3l-recent-work">
    <div class="jst-two-col">
        <div class="container">
            <div class="row">
                <div class="my-bio cwp4-text col-lg-6">
                    <h3>Modern and Luxury Architecture and Interior Designers for you</h3>
                    <p class="para mt-3 mb-lg-4 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, soluta impedit. Consequatur, quasi mollitia? Adipisci exercitationem amet dolore expedita repudiandae voluptatem impedit ipsa vero repellendus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio molestiae ex aut possimus atque explicabo nostrum recusandae ab quisquam.</p>
                    <a href="about.html" class="action-button btn mt-4">Read more <span class="fa fa-angle-double-right"></span></a>
                </div>
                <div class="col-lg-6 ">
                    <img src="~/Template/proje2Template/go-trip-starter/assets/images/b4.jpg" alt="product" class="img-responsive about-me">
                </div>
            </div>
        </div>
    </div>
</section>
