

<section class="w3l-content-with-photo-4" id="about">
    <div class="content-with-photo4-block editContent">
        <div class="container">

            <div class="my-bio">
                <img src="~/Template/proje2Template/go-trip-starter/assets/images/3.jpg" class="img-responsive about-me" />

                <h3 class="mt-lg-4 mt-3">
                    Tatili Dolu Dolu Yaşayın!
                </h3>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                <p class="para mb-3"> </p>
                <p class="para mb-lg-3"></p>
            </div>

        </div>
    </div>
    </div>
</section>
<section class="w3l-stats">
    <div class="main-w3 ">
        <div class="container">
            <div class="right-side">
                <h3 class="title-big"></h3>
                <p class="mt-4 para">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </p>
                <div class="col-lg-6 ">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-recent-work">
    <div class="jst-two-col">
        <div class="container">
            <div class="row">
                <div class="my-bio cwp4-text col-lg-6">
                    <h3>Tatilin Adresi</h3>
                    <p class="para mt-3 mb-lg-4 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                    <a href="about.html" class="action-button btn mt-4">Beni Oku <span class="fa fa-angle-double-right"></span></a>
                </div>
                <div class="col-lg-6 ">
                    <img src="~/Template/proje2Template/go-trip-starter/assets/images/b7.jpg" alt="product" class="img-responsive about-me"/>
                </div>
            </div>
        </div>
    </div>
</section>
