<div class="map-content-9 mb-5 ">
    <form action="//sendmail.w3layouts.com/submitForm" method="post">
        <div class="twice-two">
            <input type="text" class="form-control" name="w3lName" id="w3lName" placeholder="Name" required="">
            <input type="email" class="form-control" name="w3lSender" id="w3lSender" placeholder="Email" required="">
            <input type="text" class="form-control" name="w3lSubject" id="w3lSubject" placeholder="Subject" required="">
        </div>
        <textarea name="w3lMessage" class="form-control" id="w3lMessage" placeholder="Message" required=""></textarea>

        <div class="text-right">
            <button type="submit" class="btn btn-contact">Send Message</button>
        </div>
    </form>
</div>
