@model Casgem_CodeFirstProject.DAL.Entities.Contact

<div class="map-content-9 mb-5 ">
    <form method="post">
        <div class="twice-two">
            <input type="text" class="form-control" name="NameSurname" id="w3lName" placeholder="Name" required="">
            <input type="email" class="form-control" name="Mail" id="w3lSender" placeholder="Email" required="">
            <input type="text" class="form-control" name="Subject" id="w3lSubject" placeholder="Subject" required="">
        </div>
        <textarea name="Message" class="form-control" id="w3lMessage" placeholder="Message" required=""></textarea>

        <div class="text-right">
            <button type="submit" class="btn btn-contact">Gönder</button>
        </div>
    </form>
</div>
