@model List<Casgem_CodeFirstProject.DAL.Entities.Slider>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Slider Sayfası</h2>

<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık-1</th>
        <th>Başlık-2</th>
        <th>Açıklama</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SliderId</td>
            <td>@item.SliderTitle</td>
            <td>@item.SliderTitle2</td>
            <td>@item.SliderDescription</td>
            
            <td><a href="/Admin/EditHomeSlider/@item.SliderId" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
