<section class="w3l-recent-work-hobbies" id="services">
    <div class="recent-work editContent">
        <div class="container">
            <div class="row service-service">
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back"><span class="fa fa-plane"></span></div>

                        <h5>
                            <a href="#url" class="editContent">
                                Air Service
                            </a>
                        </h5>
                        <p class="para editContent">
                            Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores
                            quos, nobis culpa est
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back"><span class="fa fa-bus"></span></div>

                        <h5><a href="#url" class="editContent">Bus Service</a></h5>
                        <p class="para editContent">
                            Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores
                            quos, nobis culpa est
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back">  <span class="fa fa-handshake-o"></span></div>

                        <h5><a href="#url" class="editContent">Tourist Guide</a></h5>
                        <p class="para editContent">
                            Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores
                            quos, nobis culpa est
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back">   <span class="fa fa-random"></span></div>

                        <h5>
                            <a href="#url" class="editContent">
                                Guide Service
                            </a>
                        </h5>
                        <p class="para editContent">
                            Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores
                            quos, nobis culpa est
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back"> <span class="fa fa-smile-o"></span></div>

                        <h5><a href="#url" class="editContent">Travel Insurance</a></h5>
                        <p class="para editContent">
                            Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores
                            quos, nobis culpa est
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <div class="icon-back"><span class="fa fa-building"></span></div>
                        <h5><a href="#url" class="editContent">Hotel Service</a></h5>
                        <p class="para editContent">
                            Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores
                            quos, nobis culpa est
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
