<section class="w3l-services-two" id="services">
    <div class="service-single-page editContent">
        <div class="container">
            <div class="gallery-image row">
                <div class="img-box col-lg-4 col-md-6">
                    <img src="assets/images/b2.jpg" alt="product" class="img-responsive ">
                    <h5 class="mt-2"><a href="about.html">Turkey Grenada</a></h5>
                    <p class="para">4 Tours available</p>
                </div>
                <div class="img-box col-lg-4 col-md-6">
                    <img src="assets/images/b1.jpg" alt="product" class="img-responsive ">
                    <h5 class="mt-2"><a href="about.html">Colosseum, Rome</a></h5>
                    <p class="para">9 Tours available</p>
                </div>
                <div class="img-box col-lg-4 col-md-6">
                    <img src="assets/images/b3.jpg" alt="product" class="img-responsive ">
                    <h5 class="mt-2"><a href="about.html">Australia Nature</a></h5>
                    <p class="para">10 Tours available</p>
                </div>
                <div class="img-box col-lg-4 col-md-6">
                    <img src="assets/images/b4.jpg" alt="product" class="img-responsive ">
                    <h5 class="mt-2">
                        <a href="about.html">
                            French-Polynesia
                        </a>
                    </h5>
                    <p class="para">8 Tours available</p>
                </div>
                <div class="img-box col-lg-4 col-md-6">
                    <img src="assets/images/b5.jpg" alt="product" class="img-responsive ">
                    <h5 class="mt-2"><a href="about.html">South Island</a></h5>
                    <p class="para">5 Tours available</p>
                </div>
                <div class="img-box col-lg-4 col-md-6">
                    <img src="assets/images/b6.jpg" alt="product" class="img-responsive ">
                    <h5 class="mt-2"><a href="about.html">Bora Bora</a></h5>
                    <p class="para">7 Tours available</p>
                </div>

            </div>
        </div>
    </div>
</section>
