@model Casgem_CodeFirstProject.DAL.Entities.Booking

<section class="w3l-call-to-action_9">
    <div class="call-w3">
        <div class="container">
            <div class="booking-form-content">
                <div class="main-titles-head ">
                    <h3 class="header-name">
                        Get the Best Holiday Planned by Experts!
                    </h3>
                    <p class="tiltle-para editContent ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut aspernatur tempore laboriosam saepe dolores eveniet.</p>
                </div>
                <form method="post" class="booking-form">
                    <div class="row book-form">
                        <div class="form-input col-md-4">
                            <label>İsim-Soyisim</label>
                            <input type="text" name="CustomerName" placeholder="Name" required="">
                        </div>
                        <div class="form-input col-md-4">
                            <label>Ülke</label>
                            <select name="Destination" class="selectpicker">
                                <option value="">Seçilmedi</option>
                                <option value="africa">Africa</option>
                                <option value="america">America</option>
                                <option value="asia">Asia</option>
                                <option value="eastern-europe">Eastern Europe</option>
                                <option value="europe">Europe</option>
                                <option value="south-america">South America</option>
                            </select>

                        </div>
                        <div class="form-input col-md-4">
                         
                            <label>Kaç Gün</label>
                            <select name="Duration" class="selectpicker">
                                <option value="">Any</option>
                                <option value="1">1 Day Tour</option>
                                <option value="2">2-4 Days Tour</option>
                                <option value="5">5-7 Days Tour</option>
                                <option value="7">7+ Days Tour</option>
                            </select>

                        </div>
                        <div class="form-input col-md-4 mt-3">

                            <label>Mail</label>
                            <input type="text" name="Mail" placeholder="Mail" required="">

                        </div>
                        <div class="form-input col-md-4 mt-3">
                            <label>Tarih</label>
                            <input type="date" name="BookingDate" placeholder="Tarih" required="">
                        </div>
                        <div class="bottom-btn col-md-4 mt-3">
                            <label>Gönder</label>
                            <button class="btn btn-style btn-primary w-100 btn-style">Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
