@model List<Casgem_CodeFirstProject.DAL.Entities.Place>

<section class="w3l-specification-6">
    <div class="specification-layout editContent">
        <div class="container-fluid">
            <div class="row text-left img-grids">
                <div class="col-lg-6 p-0">
                    <div class="images-right">
                        <div class="p-md-5 p-3">
                            <h4><a href="#url">Datça</a></h4>
                            <p>Datça merkeze 25 km. uzaklıktaki Palamutbükü'nde denize girebilir, şeffaf sularında balık avlayabilir ve yakın yerlere tekne turuna çıkabilirsiniz. Sit alanı olarak belirlenen köy, denizi ve doğayı sevenler için iyi bir tatil imkanı sunuyor.</p>

                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 p-0">
                    <div class="four-grids">
                        @foreach (var item in Model)
                        {
                            <div class="images-text">
                                <div class="ser-bg2"style="background-image:url(@item.ImageUrl)">
                                    <div class="p-md-5 p-3">
                                        <h4><a href="#url">@item.Title</a></h4>
                                        <p>@item.Description</p>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


