<section class="w3l-clients" id="client">
    <div class="call-w3">
        <div class="container text-center">
            <div class="title-head">
                <h3>We are with you at every <br>stage of your journey</h3>
                <p>Fugit tempora dolor dolore recusandae aut at cum autem esse neque. Consequuntur dolor sequi nulla corrupti blanditiis similique</p>
                <a class="btn btn-theme2 mt-lg-5 mt-4" href="contact.html">Book Your Travel</a>
            </div>

        </div>
    </div>
</section>
