<section class="w3l-teams-15">
    <div class="team-single-main editContent">
        <div class="container">

            <div class="row">
                <div class="column2 col-lg-6">

                    <img src="assets/images/b1.jpg" alt="product" class="img-responsive ">
                </div>
                <div class="nature-row  coloum4 col-lg-6">
                    <h6 class="small-title">Explore</h6>
                    <h3>Exclusive vacation Packages and Travel services for you. </h3>
                    <p class="para editContent text ">
                        Moll itia placeat modi expl icabo volup tatum corporis unde Dicta, provident
                        Rem adipisci Moll itia placeat modi volup tatem tenetur conse quatur.Conseq tenetur conse quatur adipi sicing elit.
                    </p>
                    <a href="about.html" class="action-button btn mt-lg-5 mt-4">Read more</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
