<section class="w3l-specification-6">
    <div class="specification-layout editContent">
        <div class="container-fluid">
            <div class="row text-left img-grids">
                <div class="col-lg-6 p-0">
                    <div class="images-right">
                        <div class="p-md-5 p-3">
                            <h4><a href="#url">The City of Lights</a></h4>
                            <p>Moll itia placeat modi volup tatem tenetur conse quatur.Conseq tenetur conse quatur adipi sicing elit. </p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 p-0">
                    <div class="four-grids">
                        <div class="images-text">
                            <div class="ser-bg1">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">French-Polynesia</a></h4>
                                    <p>Lorem ipsum dolor sit amet sed consectetur adipisicing elit. </p>

                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg4">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Buckingham Palace</a></h4>
                                    <p>Lorem ipsum dolor sit amet sed consectetur adipisicing elit. </p>

                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg2">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Australia Nature</a></h4>
                                    <p>Lorem ipsum dolor sit amet sed consectetur adipisicing elit. </p>
                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg3">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Turkey Nature</a></h4>
                                    <p>Lorem ipsum dolor sit amet sed consectetur adipisicing elit. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
