
@{
    Layout = null;
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Report Login Form Responsive Widget Template :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Report Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
 
    <link href="~/Template/report-login-free_Free02-01-2021_390970342/Report-Login-Free/css/style.css" rel="stylesheet"type="text/css" media="all" />
    <!--//Style-CSS -->
    <link href="~/Template/report-login-free_Free02-01-2021_390970342/Report-Login-Free/css/font-awesome.min.css" rel="stylesheet"type="text/css" media="all" />
 

</head>

<body>

    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>Çasgem Giriş Sayfası</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2>Log In</h2>
                        <form method="post">
                            <input type="text" class="text" name="Username" placeholder="Kullanıcı Adı" required="" autofocus>
                            <input type="password" class="password" name="Password" placeholder="Şifre" required="" autofocus>
                            <button class="btn" type="submit">Giriş Yap</button>
                        </form>

                        <p class="account">Hesabın yok mu? <a href="#signup">Kayıt Ol</a></p>
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            
                            <img src="~/Template/report-login-free_Free02-01-2021_390970342/Report-Login-Free/images/1.png"alt="" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
        <!-- copyright-->
        <div class="copyright text-center">
            <p class="copy-footer-29">
                © @DateTime.Now.Year Report Login Form. All rights reserved | Design by <a href="https://w3layouts.com">W3layouts</a>
            </p>
        </div>
        <!-- //copyright-->
    </section>
    <!-- //form section start -->
</body>

</html>